{% extends "health_logs/base.html" %}

{% block content %}
  <p><a href="{% url 'health_logs:topic_workouts' topic.id %}">{{ topic }}</a></p>
  
  <p>Add a new exercise</p>
  <form action="{% url 'health_logs:new_entry_workouts' topic.id %}" method='post'>
    {% csrf_token %}
	<p>Exercise name:</p>
	{{ form.exercise }}
    <p>Duration:</p>
    {{ form.duration }} seconds
    <p>Sets:</p>
    {{ form.sets }}
	<p>Rest time:</p>
	{{ form.rest }} seconds
    <p><button name="Submit">add exercise</button></p>
  </form>

{% endblock content %}
