{% extends "health_logs/base.html" %}

{% block page_header %}
  <h1>Metrics</h1>
  <h5><small>Track the different numerical aspects of your health here (weight, calorie intake, etc.)</small></h5>
{% endblock page_header %}

{% block content %}
  <!--<p>Applications</p>-->
  <ul>
      {% for topic in topics %}
        <li><h3><a href="{% url 'health_logs:topic' topic.id 0 %}">{{ topic }}</a></h3></li>
      {% empty %}
        <li>No topics have been added yet.</li>
      {% endfor %}
  </ul>
  <h5><small><a href="{% url 'health_logs:new_topic' %}">Add a new metric:</a></small></h5>

{% endblock content %}
